html {
	background: $background-color;
}

#initial-background {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: -100;
	opacity: 0;
}

#primary {
	position:absolute;
	display:block;
	height: 100vh;
	top: 0;
	left: $nav-width + $nav-margin + $nav-margin;
	width: calc(100vw - #{$nav-width + $nav-margin});
	overflow-x: hidden;
	overflow-y: scroll;
	z-index: -200;
	opacity: 0;
	margin: 0;
	
	#main {
		display: inline-block;
		width: 700px;
		
		@media only screen and (min-width: 1200px) {
			padding: 0 #{3*$nav-margin + 15px} 0 #{2*$nav-margin};	
			
		}
		
		@media only screen and (max-width: 1150px) and (min-width: 1020px) {
			//padding: $nav-margin-m #{2*$nav-margin-m} $nav-margin-m #{2*$nav-margin-m};
			width: 600px;
		}
		
		@media only screen and (max-width: 1020px) and (min-width: 900px)  {
			//padding: $nav-margin-m2 #{2*$nav-margin-m2} $nav-margin-m2 #{2*$nav-margin-m2};	
			width: 500px;
		}
		
		@media only screen and (max-width: 900px) and (min-width: 860px)  {
			//padding: $nav-margin-m2 #{2*$nav-margin-m2} $nav-margin-m2 #{2*$nav-margin-m2};	
			width: 450px;
		}
		
		@media only screen and (max-width: 860px)  {
			//padding: $nav-margin-m2 #{2*$nav-margin-m2} $nav-margin-m2 #{2*$nav-margin-m2};	
			width: 400px;
		}
		
		padding-bottom: 75vh !important;
	}
	padding-top: 50px;
	padding-bottom: 75vh;
	overflow-x: hidden;
}

html {
	overflow-x: hidden;
}

.single-post #primary {
	padding-bottom: 0;
	#main {
		display: inline-block;
		padding-bottom: 30vh !important;
		}
}

article.post.type-post {
	img {

	}
	
}

.person-content {
	// do not put transition timing here (handled in JS)
	img {
		width: 300px;
	}
}

main {
	position: relative;
}

.next-post, .prev-post {
	font-family: $font-nav;
	font-size: $font-nav-line-height;
	transition: all 250ms ease-in-out;
	display: block;
	position: fixed;
	top: 0vh;
	height: 100vh;
	line-height: 60px;
	width: 30px;
	text-align: center;
	background: rgba(255,255,255, .2);
	transition:all 400ms ease-in-out;
	margin-top: calc(60vh - 60px);
	height: 60px;
	opacity:.7;
	
	&:hover {
		opacity: 1;
		background: rgba(255,255,255, 1);
	}
}

.next-post {
	
	@media only screen and (min-width: 1550px) {
		right: 180px;
	}
	
	@media only screen and (min-width: 1160px) and (max-width: 1550px) {
		right: 120px;
	}

	@media only screen and (max-width: 1160px) and (min-width: 975px) {
		right: 90px;
	}

	@media only screen and (max-width: 975px)  {
		right: 50px;
	}
	
}

.prev-post {
	
		@media only screen and (min-width: 1160px) {
			left: $nav-margin + $nav-width + 35px;
		}
		
		@media only screen and (max-width: 1160px) and (min-width: 975px) {
			left: $nav-margin + $nav-width + 25px;	
		}
		
		@media only screen and (max-width: 975px)  {
			left: $nav-margin + $nav-width + 10px;
		}
	

}