#people-list, #project-list {
	-moz-column-count: 2;
	-moz-column-gap: 10px;
	-moz-column-rule: none;
	-webkit-column-count: 2;
	-webkit-column-gap: 10px;
	-webkit-column-rule: none;
	column-count: 2;
	column-gap: 10px;
	column-rule: none;
}

#publics, #publics-nav {
	ul {
		li {
			font-family: $font-body;
			font-size: $font-body-size;
			line-height: $font-body-line-height;
			height: $font-body-line-height;
		}
	}
}