// All size variables (other than font-sizes) go here

// Margin
$nav-margin: 50px;
$nav-margin-m: 40px;
$nav-margin-m2: 25px;

// Padding
$nav-item-padding: .5rem;
$nav-padding: .75em;

// Width
$nav-width: 275px;