// All variables associated with type (other than colors) go here


@font-face {
  font-family: 'AkkuratStd-Mono';
  src: url('assets/fonts/AkkuratStd-Mono.eot?#iefix') format('embedded-opentype'),  url('assets/fonts/AkkuratStd-Mono.otf')  format('opentype'),
	     url('assets/fonts/AkkuratStd-Mono.woff') format('woff'), url('assets/fonts/AkkuratStd-Mono.ttf')  format('truetype'), url('assets/fonts/AkkuratStd-Mono.svg#AkkuratStd-Mono') format('svg');
  font-weight: normal;
  font-style: normal;
}


$font-nav: "AkkuratStd-Mono";