nav ul, nav ul li, h1, a {
  transition: all 250ms ease-in-out; }

.clear {
  width: 100%;
  clear: both; }

@font-face {
  font-family: 'AkkuratStd-Mono';
  src: url("assets/fonts/AkkuratStd-Mono.eot?#iefix") format("embedded-opentype"), url("assets/fonts/AkkuratStd-Mono.otf") format("opentype"), url("assets/fonts/AkkuratStd-Mono.woff") format("woff"), url("assets/fonts/AkkuratStd-Mono.ttf") format("truetype"), url("assets/fonts/AkkuratStd-Mono.svg#AkkuratStd-Mono") format("svg");
  font-weight: normal;
  font-style: normal; }
html, body {
  font-size: 14px; }

svg {
  text-rendering: optimizeLegibility; }

nav ul {
  font-family: "AkkuratStd-Mono"; }

h1 {
  font-family: "AkkuratStd-Mono";
  font-size: 1em;
  font-weight: 100; }

html {
  background: #bdb7b0;
  min-width: 100vw; }

body {
  margin: 0; }

#primary {
  height: 100vh;
  width: calc(100vw - 350px);
  position: absolute;
  top: 0;
  right: 0;
  overflow: auto; }
  #primary #main {
    padding: 50px 100px 50px 100px; }

section {
  margin-bottom: 4em; }

nav ul {
  list-style: none; }

.nav-wrapper {
  position: fixed;
  height: calc(100vh - 100px);
  top: 50px;
  left: 50px;
  width: 300px; }
  .nav-wrapper #gsd-logo {
    position: absolute;
    left: 1em;
    bottom: 0;
    width: 200px; }

nav {
  background: #FFF;
  padding: 1.25em;
  padding-bottom: .5em; }
  nav img {
    margin-bottom: 2.5em;
    margin-right: 15px; }
  nav ul {
    padding: 0;
    margin-bottom: 0; }
    nav ul li {
      border: 0;
      border-top: 2px solid black;
      padding: 1em 1em 0.5em 1em;
      min-height: 0; }
      nav ul li:hover {
        cursor: pointer;
        color: #dedad6; }
      nav ul li.active {
        color: #dedad6; }
