html, body {
	font-size: 14px;
}

svg {
	text-rendering: optimizeLegibility;
}

nav ul {
	font-family: $font-nav;
	@extend %transitions;
	
	li {
		@extend %transitions;
	}
}

article main {
	font-family: $font-body;
	font-size: 1.5em;
}

.current {
	font-family: $font-body-b !important;
}

// *** headers ***
h1, h2, h3 {
  
}

h1, h2, h3, h4, h5, h6 {

}

h1 {
	font-family: $font-nav;
	@extend %transitions;
	font-size: 1em;
	font-weight: 100;
}

a {
	color: $type-basic;
	text-decoration: none;
	&:hover {
		color: $type-alt;
	}
	
}

h2 {
	
}

h3 {

}

h4 {
	
}

h5 {
	
}

h6 {
	
}
// *** end headers ***


// *** inline text treatment ***


a {
	@extend %transitions;
  
  &:hover, &:active, &:focus {
    
  }
}

b, strong {
}

em, i {

}


small {

}

span {
	
}

// ***  end inline text treatment ***


// *** Block Text Options ***

p {

}

blockquote, .quote {

}

// definition lists 
dl {
	dt {
		
	}
	dd {
		
	}
}

figcaption {
	
}


// *** End Block Text Options ***
