html {
	background: $background-color;
	min-width: 100vw;
}

body {
	margin: 0;
	
}

#primary {
	height: 100vh;
	position:absolute;
	top: 0;
	
}

article {
	
}

section {

}

figure {
	
}


aside {

}
