html {
	background: $nav-background-color;
}

#mobile-post-head {
	display: none;
}

.category-publics {
	blockquote {
		margin-left: 0;
		margin-top: 0;
		p {
			padding-top: 0;
		}
	}
}

body {
	margin: 0;
	
	&.single.single-post {
		@media only screen and (max-width: 800px) {
			background: #FFF;
			
			#mobile-post-head {
				display: block;
				position: fixed;
				top: 0;
				left: 0;
				width: 100vw;
				background: $nav-background-color;
				padding: $nav-padding/2 $nav-padding;
				max-height: 1em;
				img {
					max-height: 1em;
					line-height: 1em;
					cursor: pointer;
				}
			}
			
			#primary {
				margin-top: calc(1rem + #{$nav-padding/2});
				display: block;
				padding: $nav-padding;
				min-height: 100vh;
				
				h1 {
					margin-bottom: 0em;
					font-size: $font-mobile-body-size;
				}
				
				h2 {
					font-size: $font-mobile-body-size;
				}
				
				p {
					font-size: $font-mobile-body-size;
					line-height: $font-mobile-line-height;
				}
				
				blockquote p:first-child, .quote p:first-child {
					padding-top: 1em;
				}
				
				blockquote {
					font-size: $font-mobile-body-size - 2pt;
					line-height: $font-mobile-line-height - 3pt;
					margin-left: 1em;
					margin-right: 1em;
					margin-top: 0;
					
					p {
						font-size: $font-mobile-body-size - 2pt;
						line-height: $font-mobile-line-height - 2pt;
					}
				}
			}
		}
	}
	
}

#initial-background {
	display: none ;
	background-repeat: none;
	background-position: left bottom;
	background-size: cover;
}

#primary {
	display: none;
}

#main {
	max-width: 900px;
}

article.post.type-post {
	img {
		width: 100%;
		height: auto;
		margin-bottom: 1rem;
		display: block;
	}
}


.no-content{
	.close-me {
		display: none !important;
	}
}
.person-content {
	// do not put transition timing here (handled in JS)
	img {
		width: 100%;
	}
	
	position: relative;
	
	&:not(.closed) {
		.close-me{
			position: absolute;
			bottom: -40px;
			right: 0px;
			content: "++";
			cursor: pointer;
			display: block;
			text-align: center;
			width: 20px;
			height: 20px;
			line-height:32px;
			//border: 1px solid rgba(0,0,0,1);
			background: rgba(255,255,255, .2);
			transition:all 400ms ease-in-out;
			&:hover {
				background: rgba(255,255,255, 1);
			
			}
			
		}
	}
	
	.close-me {
		//display: none;
	}
	
}

#publics {
	ul {
		margin-top: 0;
	}
}

h1 {
	margin-bottom: .75em;
	margin-top: 2em;
}

section {
	margin-bottom: 3em;
}

p {
	margin: 0 0 1em 0;
}

figure {
	
}


aside {

}


// Hide parts of the pdf viewer
.issuuembed div {
	div:nth-child(2) {
		display: none !important;
	}
}

// hide next and previous posts on mobile
.next-post, .prev-post {
	display: none;
}