// This is where you would put any styles for lists

li {
}

ul {
	li {
		
	}
}

ol {
	li {
		
	}
}

ol, ul {
	list-style: none;
	padding-left: 0;
	line-height: 1.2em;

	&.section-list {
		cursor: pointer;
		li {
			@extend %transitions;
			font-weight: 500;
			
			&:hover {
				color: $nav-background-alt;
				
				&.current {
					color: #000;
				}
				
			}
		}
	}
}

#people-list, #project-list {
	-moz-column-count: 2;
	-moz-column-gap: 10px;
	-moz-column-rule: none;
	-webkit-column-count: 2;
	-webkit-column-gap: 10px;
	-webkit-column-rule: none;
	column-count: 2;
	column-gap: 10px;
	column-rule: none;
}

nav {
	ul {
		list-style: none;
	}
}


// *** definition lists ***
dl {
	dt {
		
	}
	dd {
		
	}
}