// This is where you would put any styles for lists

li {
}

ul {
	li {
		
	}
}

ol {
	li {
		
	}
}

ol, ul {
	list-style: none;
	padding-left: 0;
	line-height: 1.2em;

	&.section-list {
		cursor: pointer;
		li {
			@extend %transitions;
			font-weight: 500;
		//line-height:1em;
			overflow: visible;
			text-shadow:
				 -1px -.25px 0 $background-color,  
					.25px -.25px 0 $background-color,
					-.25px .25px 0 $background-color,
					 .25px .25px 0 $background-color;
		}
	}
}




#publics-nav {
	ul {
		margin-bottom: 1em;
	}
}

#people-list {
	margin-bottom: 3.5em;
	li {
		cursor: default;
	}
	
	li span {
		display: block;
		cursor: pointer;
	}
}

nav {
	ul {
		list-style: none;
	}
}


// *** definition lists ***
dl {
	dt {
		
	}
	dd {
		
	}
}