

.nav-wrapper {
	position: absolute;
	height: 100vh;
	top: 0;
	left: 0;
	width: 100%;
	
	
	
	#gsd-logo {
		display: none;
	}
	
	#office-logo {
		cursor: pointer;
	}
}

nav {
	background: $nav-background-color;
	padding: 1.25em;
	padding-bottom: .5em;
	opacity: 0;
	height: 100vh;
	width: calc(100vw - 2.5em);
	
	section {
		display:none;
		margin-top: 1.5rem;
		h1 {
			display: none;
		}
		main {
			width: calc(100% - #{2*$nav-item-padding});
			padding: 0 $nav-item-padding 0 $nav-item-padding;
			font-size: 14px;
			& p, h2, h3 {
				font-size: 14px;
			}
			
			ul, li {
				border-top: 0;
			}
			
		}
	}
	img {
		margin-bottom: 2.5em;
		margin-right: 15px;
		max-width: 250px;
	}
	ul {
		padding: 0;
		margin-bottom: 0;
		li {
			@extend %transitions;
			border:0;
			border-top: 2px solid black;	
			min-height: 0;
			
			li {
				line-height: 25px;
			}
			
			div.link{
				width: calc(100% - #{2*$nav-item-padding});
				padding: $nav-item-padding $nav-item-padding $nav-item-padding/2 $nav-item-padding;
				&:hover {
					cursor: pointer;
					color: $type-alt;
				}
			
				&.active {
					color: $type-alt;
				}
			}
			
		}
	}
}