.nav-wrapper {
	position: fixed;
	height: calc(100vh - #{2*$nav-margin});
	top: $nav-margin;
	left: $nav-margin;
	width: 300px;
	
	#gsd-logo {
		position: absolute;
		left: $nav-item-padding;
		bottom: 0;
		width: 200px;
	}
	
}

nav {
	background: $nav-background-color;
	padding: 1.25em;
	padding-bottom: .5em;
	width: 100%;
	
	
	img {
		margin-bottom: 2.5em;
		margin-right: 15px;
	}
	ul {
		padding: 0;
		margin-bottom: 0;
		li {
			border:0;
			border-top: 2px solid black;	
			padding: $nav-item-padding $nav-item-padding $nav-item-padding/2 $nav-item-padding;
			
			&:hover {
				cursor: pointer;
				color: $type-alt;
				//background: $nav-background-alt;
			}
		}
	}
}