nav {
	background: $nav-background-color;
	padding: 1.5em;
	
	position: fixed;
	top: 50px;
	left: 50px;
	width: 300px;
	
	img {
		margin-bottom: 3em;
	}
	ul {
		padding: 0;
		li {
			border:0;
			border-top: 2px solid black;	
			padding: 1em 1em .5em 1em;
			
			&:hover {
				cursor: pointer;
				color: $type-alt;
				//background: $nav-background-alt;
			}
		}
	}
	
	
}